
div(class="welpFooterDefault")
    div(class="welpFooterDefault__body")
        div(class="welpFooterDefault__body-link-lists")
            a(href="https://github.com/StedHouston") Stedman Houston
            a(href="https://github.com/sambrady0652") Sam Brady
            a(href="https://github.com/NolanCrenshaw") Nolan Crenshaw
        div(class="welpFooterDefault__penultimate")
            img(class="welpFooter__streetImg" src="/images/footerImage.jpg")
        div(class="welpFooterDefault__ultimate")
            p Copyright
            i(class="fa fa-creative-commons")
            p 2020 Welp Industrial Light and Magic. All contents were developed for Educational Purposes.
