extends layout

include includes/form-inputs.pug
include includes/utils.pug

block content
    div(class="logInHeadBar mx-auto row")
        div(class="logInHeadBar__logoContainer")
            img(class="logInHeadBar__logoContainer--logo mx-auto" src="/images/welpedLogo.jpg")
    div(class="container")
        div(class="logInBodyContainer row")
            div(class="logInBodyContainer__left col")
                div(class="logInContent")
                    div(class="logInContent__words")
                        div(class="logInContent__words--title")
                            h3 Sign in to Welp
                        div(class="logInContent__words--subtitle")
                            h5 New to Welp?
                            a(href="/users/signup") Sign up
                        div(class="logInContent__words--termsAndConditions")
                            p By logging in, you agree to Welp's Terms of Service and acknowledge Welp's Privacy Policy.
                        div(class="logInContent__words--shareIcons")
                            div(class="")
                            div(class="")
                            div(class="")
                            p

                    div(class="logInForm")
                        form(class="log-in-form")
                            div(class="form-group form-row")
                                div(class="col")
                                    +signUpFormInput("email", "email", "Email")
                            div(class="form-group form-row")
                                div(class="col")
                                    +signUpFormInput("password", "password", "Password")
                            //- remove Forgot Passowrd?
                            p Forgot Password?
                            div(class="form-group")
                                button(type="submit" class="btn btn-danger") Log In
                            div
                                p New to Welp?
                                    span: a(href="/users/signup") Sign up!
            div(class="logInBodyContainer__right col")
                div(class="logInBodyContainer__right-welcomeBox")
                    img(class="logInBodyContainer__right-welcomeBox--image" src="https://s3-media0.fl.yelpcdn.com/assets/2/www/img/7922e77f338d/signup/signup_illustration.png")
    script(type="module" src="/js/login.js")
