include navbar.pug

block search
    div(class="card-columns")
        div(class="card" style="width: 500px")
            div(class="row no-gutters")
                div(class="col-sm-5")
                    img(class="card-img" src="https://welp-app-s3.s3.us-east-2.amazonaws.com/jimWelp.jpg" alt="No results")
                div(class="col-sm-7")
                    div(class="card-body")
                        p(class="card-title") We're Sorry, that search didn't yield any results
                            p(class="card-text card-detail") Try another search serm or check out a random restaurant page!
                        a(href=`/restaurants/${Math.floor(Math.random() * 200 + 1)}` class="btn btn-primary") View Random Profile
    div(class="map_container")
        div(id="map")
    //- script(type="module" src="/js/map-search.js")