extends layout.pug

block content
    div Hello World!
    div(class="favoriteIcon favorited") Favorite Icon
        button(type="button" id="favoriteButton" method="POST" action=`./users/1/favorites`) Favorite
    