extends layout.pug

block content
    div Hello World!
    div(class="favoriteIcon") Favorite Icon
        button(type="button" id="favoriteButton") Favorite
        script(type="module" src="/js/favorite.js")
    