extends layout.pug

block content
    script(type="module" src="/js/navbar.js")
    nav(class="navbar")
        div(class="logo-container")
            a(href='/'): img(class="logo-container__logo" src="/images/welpedLogoWBack.jpg")
        div(class="search-container" display="flex")
            form(class="nav_search-form  search_function")
                //- div(class="input-group mb-3")
                input(type="search" class="form-control" name="keyword" placeholder="tacos, pizza, Lou's Place")
                input(type="search" class="form-control" name="location" placeholder="Chicago, IL")
                button(class="btn") 
                    i(type="submit" class="fa fa-search navbutton")
        div(class="links-container" display="flex")
            div: a(class="write-a-review" href="/search") Find A Restaurant
        div(class="navButtons-container" display="flex")
            button(class="nav_sign-up-button btn btn-secondary") Sign Up
            button(class="nav_log-in-button btn btn-secondary") Log In
            button(class="nav_log-out-button btn btn-secondary") Log Out
            button(class="nav_my_profile_button btn btn-secondary") My Profile
        div()
    block search
