include navbar.pug

block search
    ul Search Results
    each restaurant in restaurants
        li= restaurant.name
    else
        h1 Sorry, no restaurants matched your search.
    div(id="map")

    script(type="module" src="/js/map-search.js")