include navbar.pug

include includes/cards.pug

block search

    if restaurants
        div(class="bottomSplashContainer__main")
            for restaurant in restaurants
                div(class="bottomSplashContainer__main-item")
                    +mediumRestaurantCard(
                        restaurant.id, 
                        restaurant.name, 
                        restaurant.price, 
                        restaurant.address, 
                        restaurant.phone, 
                        restaurant.image_url
                    )
       
    div(class="map_container")
        div(id="map")
    //- script(type="module" src="/js/map-search.js")