include searchbar.pug

block search
    h2 Search Results
        ul(id="search_results")
            if restaurants
                for restaurant in restaurants
                    li: a(href=`/restaurants/${restaurant.id}`)= restaurant.name
    div(id="map")
    script(type="module" src="/js/map-search.js")