extends layout.pug

include includes/cards.pug

block content
    div(class="bulkSplashBody")
        div(class="orderBar")
            div(class="orderBar__left")
                i(class="fa fa-car")
                a(href="") You can always order in
            div(class="orderBar__options")
                div(class="orderBar__options-items")
                    button(type="text" value="" class="btn btn-outline-dark" id="orderBar-Delivery") Delivery
                div(class="orderBar__options-items")
                    button(type="text" value="" class="btn btn-outline-dark" id="orderBar-Pizza") Pizza Delivery
                div(class="orderBar__options-items")
                    button(type="text" value="" class="btn btn-outline-dark" id="orderBar-Chinese") Chinese Food Delivery
                div(class="orderBar__options-items")
                    button(type="text" value="" class="btn btn-outline-dark" id="orderBar-x") X
        div(class="topSplashBar")
            div(class="topSplashBar__left")
                //- No content currently
            div(class="topSplashBar__right" id="splashUnknown")
                a(href="/login" class="loginLink btn btn-dark") Log In 
                a(href="/users/signup" class="signup btn btn-outline-light") Sign Up
            div(class="topSplashBar__right hidden" id="splashKnownAlt")
                button(type="button" class="loginLink btn btn-dark" id="splashProfileBtn") Profile
                button(type="button" class="signup btn btn-outline-light" id="splashAccSettingsBtn") Account Settings

        div(class="splashBodyMain")
            div(class="splashBodyMain__top")
            div(class="splashBodyMain__logo")
                img(class="splashBodyMain__logo--img" src="/images/welpedLogoBnW.jpg")
            div(class="splashBodyMain__searchBar")
                form(class="splash__search-form" method="POST" action="/search")
                    div(class="input-group mb-3")
                        span(class='input-group-text' id="find-addon") Find
                    input(type="search" class="form-control" name="keyword" placeholder="Tacos, Burritos, Deep-dish Pizza, Chinese, Indian, French...")
                    button(class="btn") 
                        i(type="submit" class="fa fa-search navbutton")
            div(class="splashBodyMain__quickLinks")
                div(class="splashBodyMain__quickLinks-items")
                    i(class="fa fa-binoculars")
                    button(type="text" value="italian" class="splashQuickLinks btn btn-secondary" id="quickLinks-italian") Italian
                div(class="splashBodyMain__quickLinks-items")
                    i(class="fa fa-binoculars")
                    button(type="text" value="chinese" class="splashQuickLinks btn btn-secondary" id="quickLinks-chinese") Chinese
                div(class="splashBodyMain__quickLinks-items")
                    i(class="fa fa-binoculars")
                    button(type="text" value="french" class="splashQuickLinks btn btn-secondary" id="quickLinks-french") French
            div(class="splashBodyMain__postScript")
                h5 Welp is commited to supporting the Black Community
                p As part of their ongoing efforts, the Yelp Foundation is dontating $500,000 
                p to the Equal Justice Initiative and the NAACP Legal Defense Fund. 
                p They are also developing tools in support of Black-owned businessess.
                a(href="https://blog.yelp.com/2020/06/laying-the-groundwork-for-change") Learn More
    div(class="bottomSplashContainer")
        div(class="bottomSplashContainer__locationBar")
            h3 Welp Chicago
        hr(class="my-4")

        div(class="bottomSplashContainer__main")
            for restaurant in restaurants
                div(class="bottomSplashContainer__main-item")
                    +mediumRestaurantCard(
                        restaurant.id, 
                        restaurant.name, 
                        restaurant.price, 
                        restaurant.address, 
                        restaurant.phone, 
                        restaurant.image_url
                    )

    script(type="module" src="/js/splash-page.js")
