extends layout.pug

block content
    p hello world
    div(class="topSplashBar")
    div(class="bulkSplashBody")
        div(class="splashBodyMain")
            div(class="splashBodyMain__top")
            div(class="splashBodyMain__logo")
            div(class="splashBodyMain__searchBar")
            div(class="splashBodyMain__quickLinks")
            div(class="splashBodyMain__postScript")
    div(class="bottomSplashContainer")