extends layout.pug

block content
    div(class="bulkSplashBody")
        div(class="orderBar")
            div(class="orderBar__left")
                i(class="fa fa-car")
                a(href="") You can always order in
            div(class="orderBar__options")
                a(href="") Delivery
                a(href="") Pizza Delivery
                a(href="") Chinese Food Delivery
            button(class="close" type="button" aria-label="close") x
        div(class="topSplashBar")
            div(class="topSplashBar__left")
                a(href="") Write a Review
                a(href="") Events
                a(href="") Talk
            div(class="topSplashBar__right")
                a(href="/login" class="loginLink btn btn-dark") Log In 
                a(href="/users/signup" class="signup btn btn-outline-light") Sign Up
        div(class="splashBodyMain")
            div(class="splashBodyMain__top")
            div(class="splashBodyMain__logo")
                img(class="splashBodyMain__logo--img" src="/images/welpedLogoBnW.jpg")
            div(class="splashBodyMain__searchBar")
                form(class="splash__search-form" method="POST" action="/search")
                    div(class="input-group mb-3")
                        span(class='input-group-text' id="find-addon") Find
                    input(type="search" class="form-control" name="keyword" placeholder="Tacos and Burritos")
                    div(class="input-group mb-3")
                        span(class='input-group-text' id="find-addon") Near
                    input(type="search" class="form-control" name="location" placeholder="Chicago, IL")
                    button(class="btn") 
                        i(type="submit" class="fa fa-search navbutton")
            div(class="splashBodyMain__quickLinks")
                div(class="splashBodyMain__quickLinks-one")
                    i(class="fa fa-binoculars")
                    a(href="") Italian
                div(class="splashBodyMain__quickLinks-one")
                    i(class="fa fa-binoculars")
                    a(href="") Chinese
                div(class="splashBodyMain__quickLinks-one")
                    i(class="fa fa-binoculars")
                    a(href="") French
            div(class="splashBodyMain__postScript")
                h5 Welp is commited to supporting the Black Community
                p As part of their ongoing efforts, the Yelp Foundation is dontating $500,000 
                p to the Equal Justice Initiative and the NAACP Legal Defense Fund. 
                p They are also developing tools in support of Black-owned businessess.
                a(href="") Learn More
    div(class="bottomSplashContainer")
        div(class="bottomSplashContainer__locationBar")
            h5 Welp Chicago
            
