extends layout

include includes/form-inputs.pug

block content
    div(class="signUpHeadBar row")
        div(class="signUpHeadBar__logoContainer")
            img(class="signUpHeadBar__logoContainer--logo" src="/images/welpedLogo.jpg")
    div(class="container")
        div(class="signUpBodyContainer row")
            div(class="signUpBodyContainer__left col")
                div(class="signUpContent")
                    div(class="signUpContent__words")
                        div(class="signUpContent__words--title") 
                            h3 Sign Up for Welp
                        div(class="signUpContent__words--subtitle")
                            h5 Connect with great local restaurants
                        div(class="signUpContent__words--termsAndConditions")
                            p By continuing, you agree to Welp's Terms of Service and acknowledge Welp's Privacy Policy.
                        div(class="signUpContent__words--shareIcons")
                            div(class="")
                            div(class="")
                            div(class="")
                            p 
                        
                    div(class="signUpForm")
                        form(class="sign-up-form")
                            div(class="form-group")
                                input(type="hidden" name="profilePicture" value="https://welp-app-s3.s3.us-east-2.amazonaws.com/Default_Profile_Picture.jpg")
                                div(class="form-group form-row")
                                    div(class="col")
                                        +signUpFormInput("firstName", "text", "First Name")
                                    div(class="col")
                                        +signUpFormInput("lastName", "text", "Last Name")
                                div(class="form-group row")
                                    div(class="col")
                                        +signUpFormInput("email", "email", "Email")
                                div(class="form-group row")
                                    div(class="col")
                                        +signUpFormInput("password", "password", "Password")
                                div(class="form-group form-row")    
                                    div(class="col")
                                        +signUpFormInput("city", "text", "City")
                                    div(class="col")
                                        +signUpFormInput("state", "text", "State")
                                p You also understand that Welp may send marketing emails about Welp's products, services, and local events. You can unsubscribe at any time.
                                button(type="submit" class="btn btn-danger") Sign up
            div(class="signUpBodyContainer__right col")
                div(class="signUpBodyContainer__right-welcomeBox")
                    img(class="signUpBodyContainer__right-welcomeBox--image" src="https://s3-media0.fl.yelpcdn.com/assets/2/www/img/7922e77f338d/signup/signup_illustration.png")
    script(type="module" src="/js/sign-up.js")