.restaurantPhotoBar {
    height: 200px;
    background-color: rgb(119, 207, 207);
    padding: 0 2px;
}

.auto-resize-square {
    height: 200px;
    width: 200px;
    object-fit: none;
}

.restaurantPhotoBar div {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.restaurantPhotoBar img {
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.restaurantPhotoBar img.landscape {
    height: 100%;
    width: auto;
}

.restaurantPhotoBar__seeAllBtn {
    position: absolute;
    top: 140px;
    right: 50px;
}

.restaurantBody {
    padding-top: 30px;
}

.restaurantCard {
    position: relative;
    right: 75px;
}

.restaurantCard__name{
    color: black bold;
    height: auto;
    font-size: 50px;
    font-weight: bolder;
    font-family: Poppins,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.restaurantCard__rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.restaurantCard__rating-reviewCount {
    padding: 0 30px;
}

.restaurantCard__info {
    padding: 10px 0;
}

.restaurantCard__info-price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-right: 20px;
}

.restaurantCard__buttons button {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px;
    margin-right: 10px;
}

.restaurantCard__buttons button i {
    font-weight: bold;
    padding: 8px 5px;
}

.restaurantCard__address {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.restaurantSubCard {
    position: relative;
    width: 650px;
    right: 100px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px grey;
}

.restaurantSubCard__body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 650px;
}

.restaurantSubCard__body.row {
    box-sizing: border-box;
}

.restaurantSubCard__body-left {
    box-sizing: border-box;
    width: 400px;
    height: 300px;
}

.restaurantSubCard__body-right {
    box-sizing: border-box;
    width: 200px;
    height: 300px;
}

.restaurantSubCard__body-map {
    position: relative;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.restaurantSubCard__hoursBox {
    max-width: 300px;
    max-height: 300px;
}

.restaurantSubCard__hoursBox > img {
    padding-left: 10px;
    object-fit: contain;
}

.restaurantSubCard__hoursBox span {
    text-align: center;
}

.restaurantSubCard__hoursBox label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-right: 20px;
}

.restaurantReviews {
    position: relative;
    right: 93px;
    border: .5px solid black;
    border-radius: 10px;
    box-shadow: 10px 5px 5px grey;
    width: 100%;
    height: 1000px;
    margin-top: 30px;
}

.restaurantInfoBar {
    border: 1px solid gray;
    max-width: 150px;
    border-radius: 5px;
    box-shadow: 5px 2px 2px grey;
    background-color: rgb(210, 233, 230);
    margin-bottom: 30px;
}

.restaurantInfoBar__main {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.restaurantInfoBar__main-head {
    border: .5px solid grey;
    border-radius: 5px;
    box-shadow: 5px 2px 2px grey;
    padding: 20px;
    margin-top: 10px;
}

.restaurantInfoBar__main-head div {
    padding: 1px;
    margin: 1px;
    width: 90%;
}

.restaurantInfoBar__main-head div > i {
    padding-right: 10px;
}

.restaurantInfoBar__subbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;;
}

.restaurantInfoBar__subbody-sponsor {
    text-align: left;
    padding-left: 20px;
}

.restaurantInfoBar__subbody-sponsor i {
    position: relative;
    top: 5px;
    left: 5px;
}

.restaurantInfoBar__subbody-miniCard {
    border: 1px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

#favoriteStar {
    color: rgb(197, 171, 20);
}