.signUpHeadBar {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #d32323;
    /* width: 100%; */
    height: 70px;
}

.signHeadBar__logoContainer--logo {
    box-sizing: border-box;
    height: auto;
}

.signUpBodyContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.signUpBodyContainer__left {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.signUpBodyContainer__right {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.signUpContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.signUpContent__words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signUpContent__words div {
    font-family: Arial, Helvetica, sans-serif;
}

.signUpContent__words--title {
    color: #d32323;
    text-align: center;
}

.signUpContent__words--subtitle {
    font-size: 20px;
    text-align: center;
}

.signUpContent__words--termsAndConditions {
    font-size: 10px;
}

.signUpForm button {
    width: 100%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: white;
}

.signUpForm p {
    font-size: 10px;
}

.signUpBodyContainer__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

}