.orderBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3c3d3b;
    height: 64px;
}

.orderBar > button {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}

.orderBar__left {
    position: absolute;
    left: 90px;
    font-weight: bolder;
}

.orderBar__left i {
    color: white;
}

.orderBar__left a {
    color: white;
    margin-left: 15px;
}

.orderBar__options {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 50px;
    padding: 0 20px;
}

#orderBar-x {
    margin-left: 40px;
}

.orderBar__options-items button {
    color: white;
    font-size: 14px;
    padding: 0 12px;
}

.topSplashBar {
    width: 100%;
    height: 40px;
    margin: 25px;
}

.bulkSplashBody {
    display: flex;
    flex-direction: column;
    background-color: black;

}

.topSplashBar__left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 80px;
}

.topSplashBar__left a {
    font-size: 14px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 15px;
}

.topSplashBar__center {
    width: 300px;
}

.topSplashBar__right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 50px;
}

.topSplashBar__right a {
    padding: 10px;
    margin: 10px;
}

.topSplashBar__right button {
    padding: 10px;
    margin: 10px;
}

.hidden {
    visibility: hidden;
}

.topSplashBar__right i {
    color: #d32323;
}

.topSplashBar__right-alt a {
    padding: 10px;
    margin: 10px;
}



.topSplashBar__right-alt i {
    color: #d32323;
}

.splashBodyMain {
    height: 510px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splash__search-form {
    display: flex;
    height: 38px;
    width: 600px;
}

.splash__search-form div {
    width: 55.7px;
}

.splash__search-form button {
    background-color: #d32323;
}

.splash__search-form input {
    width: 100%;
}

.splash__search-form button > i {
    background-color: #d32323;
    color: white;
}

.splashBodyMain__quickLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-top: 30px;
}

.splashBodyMain__quickLinks-items {
    color: white;
    font-size: 18px;
    position: relative;
    padding: 0 30px;
    bottom: 20px;
}

.splashBodyMain__quickLinks a {
    font-size: 14px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px;
}

.splashBodyMain__quickLinks i {
    color: white;
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.splashBodyMain__postScript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.splashBodyMain__postScript > h5 {
    font-weight: bolder;
    font-size: 16px;
}

.splashBodyMain__postScript > p {
    font-size: 14px;
    text-align: center;
    display: flex;
    height: 5px;
}

.splashBodyMain__postScript a {
    font-size: 14px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline solid white;
    text-underline-position: auto;
    color: white;
    padding: 15px;
}

.bottomSplashContainer {
    height: auto;
    width: 100%;
}

.bottomSplashContainer__locationBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.bottomSplashContainer__locationBar h3 {
    color: #d32323;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.bottomSplashContainer__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    max-height: auto;
}

.bottomSplashContainer__main div {
    max-width: 100%;
    max-height: 100%;
}